<!-- Title: not-found.component.html
     Modified by: Caitlynne Johnson
     Date: 9/13/23
    -->

    <div class="container mt-5 text-center" style="min-height: 600px">
        <div class="row">
            <!-- first column -->
            <!-- error picture -->

            <div class="col-md-6">
                <img class="img-fluid" src="./assets/404 Error.png" alt="Gryffindor Logo">
            </div>
            <div class="col-md-6 my-5">
                <!-- error text -->
                <h1 class="display-1">404</h1>
        <h2 class="display-4">Page Not Found</h2>
        <p class="lead">
            The page you are looking for does not exist. Please check the URL and try again. </p>
            <a routerLink="/" class="btn btn-danger">Go Home</a>
    </div>
    <!-- second column -->
    </div>
