<!-- 
    ** title: faq.component.html
    ** author: Caitlynne Johnson
    ** date: 9/20/23
    ** source: https://v5.material.angular.io/components/expansion/overview
-->

<header class="container-fluid">
  <div class="container-p-5">
      <hr class="my-5" />
      <div class="row">
          <div class="col-md-12">
              <!-- description of the team -->
              <h2 class="display-3 text-center">Frequently Asked Questions</h2>
              <div class="p lead text-center">
                  Need an answer to something? Find it here!
              </div>
          </div>
      </div>

<div class="container p-5">
    <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        User Configuration
      </mat-panel-title>
      <mat-panel-description>
        How do I add, edit, and delete a user? 
      </mat-panel-description>
    </mat-expansion-panel-header>
    <a href="./assets/usercon1.png">Step 1:</a> After a successful log-in, navigate to the 'User Config' link on the navigation bar. On the right
    side of the page, there will be a form titled 'Add User'.  <br>
    <a href="./assets/usercon2.png">Step 2:</a> Enter the required information for the user that you want to add. <br>
    <a href="./assets/usercon3.png">Step 3:</a> Press the submit button and the user will be added to the list. <br>
    <a href="./assets/usercon4.png">Step 4:</a> To delete a user, click the trash can under the 'Actions' tab, and to edit a user's information,
click the pen that is also under the 'Actions' tab.   
  </mat-expansion-panel>
</div>
<div class="container p-5 my-1">
    <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Account Registration
      </mat-panel-title>
      <mat-panel-description>
        How do I register for an account? 
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p><a href="./assets/acc1.png">Step 1:</a> At the sign-in page, there will be a button labeled
      'Register', click on it and it will take you to the 'User Registration' page. <br>
      <a href="./assets/acc2.png">Step 2:</a> Once at the 'User Registration' page, fill out the 
      'Account Credentials', 'Personal Information', and select your Security Questions. Once those are 
      filled out, click 'register'. <br>
      <a href="./assets/acc1.png">Step 3:</a> You'll then be taken back to the sign-in page. Use
      the email and the password you chose to sign in. <br>
      <a href="./assets/acc3.png">Step 4:</a> Seeing the home page means a successful sign-in! 


    </p>
  </mat-expansion-panel>
</div>

<div class="container p-5 my-1">
    <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Password Reset
      </mat-panel-title>
      <mat-panel-description>
        How do I reset my password?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p><a href="./assets/acc1.png">Step 1:</a> At the sign-in page, there will be a button labeled
      'Forgot Password', click on it and it will redirect you to the 'Forgot Password' page. <br>
      <a href="./assets/pass2.png">Step 2:</a> Once you are redirected, enter your email address. Once your email address is entered, hit submit. <br>
      <a href="./assets/pass3.png">Step 3:</a> You will then be redirected to the security questions you answered when you registered for an account. Enter those answers
      and hit verify. <br>
      <a href="./assets/pass4.png">Step 4:</a> Once the security questions are verified, you will be prompted to change your password. <br>
    </p>
  </mat-expansion-panel>
</div>

<div class="container p-5 my-1">
    <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Service Repair Request
      </mat-panel-title>
      <mat-panel-description>
        How do I submit a service repair request?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p><p><a href="./assets/serv1.png">Step 1:</a> On the navigation bar, click on the link that says 'Service Repairs' <br>
      <a href="./assets/serv2.png">Step 2:</a> There will be be a button marked 'add a new invoice', click on the link and it will redirect you to another page. <br>
        <a href="./assets/serv3.png">Step 3:</a> Now that you are at the Customer Invoice page, fill out the form with the necessary information. Click the submit invoice button. <br>
          <a href="./assets/serv4.png">Step 4:</a> Once submitted you will be taken back to the Service Repairs page where the new invoice you made is there.  </p>
  </mat-expansion-panel>
</div>

<div class="container p-5 my-1">
    <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Invoice Summary
      </mat-panel-title>
      <mat-panel-description>
        How do I do a invoice summary?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p><a href="./assets/serv1.png">Step 1:</a> On the navigation bar, click on the link that says 'Service Repairs' <br>
      <a href="./assets/serv2.png">Step 2:</a> There will be be a button marked 'add a new invoice', click on the link and it will redirect you to another page. <br>
        <a href="./assets/serv3.png">Step 3:</a> Now that you are at the Customer Invoice page, fill out the form with the necessary information. Click the submit invoice button. <br>
          <a href="./assets/serv4.png">Step 4:</a> Once submitted you will be taken back to the Service Repairs page where the new invoice you made is there.  </p>
  </mat-expansion-panel>
</div>

