/* Title: verify-security-questions.component
Author: Megan Walker  Ngi Bujri, Caitlynne Johnson
Date: 09-20-2023
Description: verify-security-questions.component
Source: Professor Krasso, Angular.io */