<!-- Title: nav.component.html
Modified by: Caitlynne Johnson
Date: 9/13/23
-->

<nav class="dark-bg ps-3 navbar navbar-expand-sm fixed-top">
  <a routeLink="/" class="navbar-brand text-yellow">Bob's Computer Repair Services</a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- navigation links -->

  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/home" class="nav-link text-yellow">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="#" class="nav-link text-yellow">Service Repairs</a>
      </li>
      <li class="nav-item">
        <a routerLink="/employee-directory" class="nav-link text-yellow">Employees</a>
      </li>
      <li class="nav-item">
        <a routerLink="/faq" class="nav-link text-yellow">FAQ</a>
      </li>
      <ng-container *ngIf="sessionUser.role === 'admin'">
        <li class="nav-item">
          <a routerLink="/admin/users" class="nav-link text-yellow">User Config</a>
        </li>
        <li class="nav-item">
          <a routerLink="/purchases-by-service" class="nav-link text-yellow">Service Graphs</a>
        </li>
      </ng-container>

      <!-- drop down -->
      <li class="nav-item dropdown" *ngIf="isSignedIn">
        <a
          href="#"
          class="nav-link pe-3"
          id="navDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="material-icons">person</span>
        </a>

        <ul
          class="dropdown-menu dropdown-menu-end text-center"
          aria-labelledby="navDropdown"
        >
          <li>{{ sessionUser.fullName }}</li>
          <hr />
          <li><a href=""></a></li>
          <li>
            <a class="dropdown-item link" (click)="signout()">Sign Out</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
