/*
  title: my-profile.component.css
  author: ngi bujri
  date: september 27 2023
  description: profile page styles
*/

.edit-button {
  margin-left: 3rem;
}

.card,
.modal-content {
  background-color: #740001;
  color: #eeba30;
}

.modal {
  backdrop-filter: blur(3px);
}
