/**
title: service-graph.component.css
author: caitlynne johnson
date: 10/2/2023 
*/


.chart {
    margin: 0 auto;
    width: 55%;
    height: 55%;
    position: relative;
}

.chart-container {
    text-align: center;
    margin: 0 auto;
}