<!--
  title: signin.component.html
  author: ngi bujri
  date: september 13 2023
  description: sign in page
-->

<!-- container -->
<div class="container text-center">
  <h1 class="mt-5">Bob's Computer Repair Shop</h1>
  <div class="row justify-content-center mt-5">
    <div class="col-lg-6 col-md-5 col-sm-6">
      <!-- card -->
      <div class="card shadow p-5 text-yellow">
        <!-- card title -->
        <div class="card-title">
          <h2>User Sign In</h2>
        </div>
        <!-- error messages -->
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <!-- sign in form -->
        <div class="card-body">
          <form
            [formGroup]="signinForm"
            (ngSubmit)="signin(); signinForm.reset()"
          >
            <!-- email section-->
            <!-- email error handling -->
            <div
              *ngIf="
                signinForm.controls['email'].touched &&
                signinForm.controls['email'].hasError('required')
              "
            >
              <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
              >
                Email is required.
                <input
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="close"
                />
              </div>
            </div>
            <div
              *ngIf="
                signinForm.controls['email'].touched &&
                signinForm.controls['email'].hasError('email')
              "
            >
              <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
              >
                Please enter a valid email address.
                <input
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="close"
                />
              </div>
            </div>
            <!-- end email error handling -->

            <!-- email input -->
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input
                type="text"
                class="form-control"
                id="email"
                formControlName="email"
              />
            </div>
            <!-- end email section -->

            <!-- password section-->
            <!-- password error handling -->
            <div
              *ngIf="
                signinForm.controls['password'].touched &&
                signinForm.controls['password'].hasError('required')
              "
            >
              <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
              >
                Password is required.
                <input
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="close"
                />
              </div>
            </div>
            <div
              *ngIf="
                signinForm.controls['password'].touched &&
                signinForm.controls['password'].hasError('pattern')
              "
            >
              <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
              >
                Password must be at least 8 characters long and contain one
                uppercase and lowercase letter, and one number
                <input
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="close"
                />
              </div>
            </div>

            <!-- password input -->
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input
                type="password"
                class="form-control"
                id="password"
                formControlName="password"
              />
            </div>

            <!-- buttons -->
            <div class="row gy-3 mt-5">
              <button
                class="btn btn-dark text-yellow"
                type="submit"
                [disabled]="!signinForm.valid"
              >
                Sign In
              </button>
              <button
                type="button"
                class="btn btn-dark text-yellow"
                routerLink="register"
                disabled="true"
              >
                Forgot Password?
              </button>
              <a
                class="btn btn-dark text-yellow"
                routerLink="/security/register"
                >Register</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
