<!-- Title: user-list.component
Author: Megan Walker,  Ngi Bujri, Caitlynne Johnson
Date: 09-14-2023
Description: User list component
Source: Professor Krasso, Angular.io -->

<!-- component container -->
<div class="container-fluid">
  <!-- page title -->
  <h1 class="text-center mt-3">User Configuration</h1>

  <div class="row justify-content-center g-5 mt-2">
    <!-- user list table -->
    <div class="col-6">
      <!-- table -->
      <div>
        <table class="table table-hover">
          <!-- table header -->
          <thead class="table-dark">
            <tr>
              <th>Email</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Phone #</th>
              <th>Role</th>
              <th>Actions</th>
            </tr>
          </thead>
          <!-- loading spinner -->
          <div *ngIf="isLoading" class="d-flex justify-content-center mt-5">
            <div
              class="spinner-border spinner-lg"
              style="width: 3rem; height: 3rem"
              role="status"
              aria-hidden="true"
            >
              <span class="sr-only visually-hidden">Loading...</span>
            </div>
          </div>
          <!-- table body -->
          <tbody *ngFor="let user of users" class="table-striped">
            <tr>
              <td>{{ user.email }}</td>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.phoneNumber }}</td>
              <td>{{ user.role }}</td>
              <!-- place edit and delete buttons below -->
              <td>
                <a routerLink="">
                  <span class="material-icons text-secondary">edit</span>
                </a>
                <a routerLink="">
                  <span class="material-icons text-secondary">delete</span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- user list end -->

    <!-- add user form -->
    <div class="col-4 text-center">
      <h2>Add User</h2>
      <div class="card-body border p-5">
        <form>
          <!-- email input -->
          <div class="mb-3">
            <label for="email">Email:</label>
            <input type="email" class="form-control" />
          </div>
          <!-- password input -->
          <div class="mb-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" />
          </div>
          <!-- first name input -->
          <div class="mb-3">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" />
          </div>
          <!-- last name input -->
          <div class="mb-3">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" />
          </div>
          <!-- Address input -->
          <div class="mb-3">
            <label for="address">Address:</label>
            <input type="text" class="form-control" />
          </div>
          <!-- role input -->
          <div class="mb-5">
            <label for="role">Role:</label>
            <select name="role" id="role" class="form-select">
              <option value="standard">Standard</option>
              <option value="admin">Admin</option>
            </select>
          </div>
          <!-- buttons -->
          <div class="row mt-5 gy-4">
            <button class="btn btn-dark">Submit</button>
            <button class="btn btn-dark">Reset</button>
          </div>
        </form>
      </div>
    </div>
    <!-- end form -->
  </div>
</div>
