/* Title: styles
Author: Megan Walker, Ngi Bujri, Caitlynne Johnson
Date: 09-14-2023
Description: Styles
Source: Professor Krasso, Angular.io */

/* Styles for the application */
:root {
  --hp-black: #000;
  --hp-red: #740001;
  --hp-yellow-dk: #d3a625;
  --hp-yellow: #eeba30;
}

.black-bg {
  background-color: var(--hp-black) !important;
}

.red-bg {
  background-color: var(--hp-red)!important;
}

.text-yellow {
  color: var(--hp-yellow) !important;
}
.btn-new-invoice {
  background: var(--hp-yellow) !important;
  color: var(--hp-black) !important;
}
ul {
  list-style-type: none;
  padding-left: 0 !important;
}
th {
  background: var(--hp-yellow) !important;
  color: var(--hp-black) !important;
}
.col-6 {
  padding-left: 3em !important
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
  margin: 0 auto; max-width: 900px !important;
  border: 10px solid var(--hp-yellow-dk) !important;
  color: var(--hp-yellow) !important;
  padding: 1rem;
  width: 100%;
}
